net "clk" period = 20.0ns high 40%;
net "clk"  loc = "c9" | iostandard = lvcmos33;

net "reset" loc = "v16" | iostandard = lvttl | pulldown;

net "tx" loc = "m14" | iostandard = lvttl | drive = 8 | slew = slow;
net "rx" loc = "r7" | iostandard = lvttl;
